# Binaries
/hermes
/hermes.exe
/hermes_*
build/bin/
dist/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Go
vendor/
cover.out
coverage.out
coverage.txt

# Wails
frontend/wailsjs/
build/windows/icon.ico

# Node
node_modules/
